node_modules
.next
.turbo
dist
lib
out
.emulator-data
.firebase
firebase-debug.log
firebase-debug.*.log
.env
.env.local
*.local
.DS_Store
apps/web/.env.local
apps/web/out
functions/lib
functions/shared
packages/shared/dist
